################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/KMeansCluster/.vs/KMeansCluster/v16/Browse.VC.opendb
